<div class="limita-container">
  <div class="div-form">
      <div class="form">
          <label class="form-label">Salário(Decimal): </label>
          <input type="number" placeholder="Informe salário" id="salario" class="inputs" />
          <label class="form-label">Aumento(%): </label>
          <input type="number" placeholder="Informe o percent. de aumento" id="aumento" class="inputs" />
          <input type="button" value="Calcular" class="botao" (click)="Reajuste()" />
          <label class="form-label">Novo Salário: </label>
          <input type="number" id="SalarioAjustado" class="inputs" disabled />
      </div>
  </div>
</div>