
  <div class="limita-container">
    <div class="div-form">
        <div class="form">
            <label class="form-label">Número 1: </label>
            <input type="number" placeholder="Informe o primeiro número" id="n1" class="inputs" />
            <label class="form-label">Número 2: </label>
            <input type="number" placeholder="Informe o segundo número" id="n2" class="inputs" />
            <label class="form-label">Número 3: </label>
            <input type="number" placeholder="Informe o terceiro número" id="n3" class="inputs" />
            <input type="button" value="Calcular" class="botao" (click)="mediaAritmetica()" />
            <label class="form-label">Média Aritmetica: </label>
            <input type="number" id="media" class="inputs" disabled />
        </div>
    </div>
  </div>