<div class="limita-container">
  <div class="div-form">
      <div class="form">
          <p class="content">Digite um número para calcular o fatorial dele:</p>
          <input type="number" placeholder="Digite um número" id="numero" class="inputs" />
          <input type="button" value="Calcular" class="botao" (click)="calculaFatorial()" />
          <label class="form-label">Fatorial calculado: </label>
          <input type="number" id="fatorial" class="inputs" disabled />
      </div>
  </div>
</div>