<div class="space">
  <div class="menu-apresentacao">
    <div class="limitar-container">
      <h1><span>Desafios</span></h1>
      <p>
        Escolha abaixo a opção para selecionar um desafio!
      </p>
      <ul class="lista-servicos">
        <li [routerLink]="['desafio1']">
            <img src="assets/icon.png" alt="logo" title="logo" />
            <p>Média Simples</p>
        </li>

        <li [routerLink]="['desafio2']">
            <img src="assets/icon.png" alt="logo" title="logo" />
            <p>Área Quadrada</p>
        </li>

        <li [routerLink]="['desafio3']">
            <img src="assets/icon.png" alt="logo" title="logo" />
                <p>Reajuste de Salário</p>
        </li>

        <li [routerLink]="['desafio4']">
            <img src="assets/icon.png" alt="logo" title="logo" />
            <p>Valores de um vetor</p>
        </li>

        <li [routerLink]="['desafio5']">
            <img src="assets/icon.png" alt="logo" title="logo" />
            <p>Quantidade de vogais</p>
        </li>

        <li [routerLink]="['desafio6']">
            <img src="assets/icon.png" alt="logo" title="logo" />
            <p>Inverter String</p>
        </li>

        <li [routerLink]="['desafio7']">
            <img src="assets/icon.png" alt="logo" title="logo" />
            <p>Fatorial</p>
        </li>

    </ul>
    </div>
  </div>
</div>